body {
  font-family: 'Arial', sans-serif;
}
section {
  text-align: center;
}
.game--container {
  display: grid;
  /* Aquí las ordena en columnas de 3, por cuantos elementos haya
    en la clase, recordar que este atributo se usa en el contenedor de lo que se desea ordenar*/
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.cell {
  font-family: 'Permanent Marker', cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  /* Con esta opción cambia el puntero al pasar sobre las cuadrículas */
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
